body {
    background-color: #f1faee;
    font-family: 'Roboto Mono', sans-serif;
    color: #1d3557;
}

#main-form {
    text-align: center;
}

#info-form {
    display: flex;
    border: 1px solid #1d3557;
    flex-direction: column;
    align-items: centers;
    width: 50%;
    margin: auto;
    padding: 2rem 0;
    row-gap: 1rem;
}

#submit-button {
    font-family: 'Roboto Mono', sans-serif;
    color: #1d3557;
    background-color: #a8dadc;
    border: 0px solid;
    padding: 10px;
    transition-duration: 0.4s;
}

button:hover {
    background-color: #1d3557;
    color: #a8dadc;
}

input {
    font-family: 'Roboto Mono', sans-serif;
    color: #1d3557;
}

table {
    width: 75%;
    text-align: center;
    margin: 0 auto;
}

table, tr, th, td {
    border: 1px solid #1d3557;
    border-collapse: collapse;
}

#delete-button {
    font-family: 'Roboto Mono', sans-serif;
    color: #1d3557;
    background-color: #a8dadc;
    border: 0px solid;
    transition-duration: 0.4s;
    padding: 5px;
    margin: 5px;
}

th {
    padding: 1%;
}